<div id="sign_log">

	<h1 id="sign_log_title">Log in</h1>

	<%= form_tag sessions_path do %>
	  <p>
	    <%= label_tag :mail %><br />
	    <%= text_field_tag :mail, params[:mail], class: "size" %>
	  </p>
	  <p>
	    <%= label_tag :password %><br />
	    <%= password_field_tag :password, params[:password], class: "size"%>
	  </p>
	  <p class="button"><%= submit_tag "Log in" %></p>
	<% end %>

</div>	


