/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
#all{
	border-radius: 15px; 
	border: 1px solid;
	border-color: #B8B8B8;
	width: 80%;
	min-width: 925px;
	margin: 0 auto;

	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}
#player_nav{
	
	background: white;
	border-bottom: 1px solid;
	border-bottom-color: #C8C8C8;
	padding: 10px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

#player_nav img{

		float: left;
	}

#status{

	/*width: 200px;*/
	padding-left: 80.5%;
}

#noticeBig{
	background: white;
	position-relative;
}

#notice{
	color: #2E2E2E;
	/*width: 200px;*/
	padding-left: 80%;
}

#yield{
	min-height: 300px;
	color: white;
	background: #A00000;
	padding: 20px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#boardContainer{

	width:525px;
	height: 525px;
	background-color: white;
	margin: 0 auto;
}
.boardRow{
	padding-top: 0px;
	display:block;
	width: 525px;
	height: 35px;
}
#caseContainer{
	padding-left: 31.25%;
	height: 30px;
}
.case{
	float: left;
	width: 33px;
    height: 33px;
	border-color: #B8B8B8;
	border-width: 1px;
	border-style: solid;
	background-color: #E0E0E0;
}
.boardCell{

	float: left;
	width: 33px;
	height: 33px;
	border-color: #D8D8D8;
	border-width: 1px;
	border-style: solid;
}

.triple_word{
	background-image: url('board.png');
	background-position: -148px center;	
}

.double_word{
	background-image: url('board.png');
	background-position: -37px center;	
}

.double_letter{
	background-image: url('board.png');
	background-position: -111px center;	
}

.triple_letter{
	background-image: url('board.png');
	background-position: -74px center;	
}

.center_cell{
	background-image: url('board.png');
	background-position: -185px center;	
}

.normal_cell{
	background-image: url('board.png');
}

.tile {

	width : 25px;
	height: 25px;
}

 .letter_A{

	display: block;
	width: 33px;
	height: 33px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	background-repeat: no-repeat;
	background-image: url("/assets/tileGreyLetters02.png");
	background-position: 0px 0px;
	background-color: #F6E3CE;

}
 .letter_B{

	display: block;
	width: 33px;
	height: 33px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	background-repeat: no-repeat;
	background-image: url("/assets/tileGreyLetters02.png");
	background-position: -38px 0px;
	background-color: #F6E3CE;

}
.letter_C{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -76px 0px;
    background-color: #F6E3CE;

}
.letter_D{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -114px 0px;
    background-color: #F6E3CE;

}
.letter_E{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -152px 0px;
    background-color: #F6E3CE;

}
.letter_F{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -190px 0px;
    background-color: #F6E3CE;

}
.letter_G{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -228px 0px;
    background-color: #F6E3CE;

}
.letter_H{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -266px 0px;
    background-color: #F6E3CE;

}
.letter_I{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -304px 0px;
    background-color: #F6E3CE;

}
.letter_J{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -342px 0px;
    background-color: #F6E3CE;

}
.letter_K{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -380px 0px;
    background-color: #F6E3CE;

}
.letter_L{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -418px 0px;
    background-color: #F6E3CE;

}
.letter_M{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -456px 0px;
    background-color: #F6E3CE;

}
.letter_N{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -494px 0px;
    background-color: #F6E3CE;

}
.letter_O{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -532px 0px;
    background-color: #F6E3CE;

}
.letter_P{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -570px 0px;
    background-color: #F6E3CE;

}
.letter_Q{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -608px 0px;
    background-color: #F6E3CE;

}
.letter_R{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -646px 0px;
    background-color: #F6E3CE;

}
.letter_S{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -684px 0px;
    background-color: #F6E3CE;

}
.letter_T{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -722px 0px;
    background-color: #F6E3CE;

}
.letter_U{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -760px 0px;
    background-color: #F6E3CE;

}
.letter_V{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -798px 0px;
    background-color: #F6E3CE;

}
.letter_W{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -836px 0px;
    background-color: #F6E3CE;

}
.letter_X{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -874px 0px;
    background-color: #F6E3CE;

}
.letter_Y{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -912px 0px;
    background-color: #F6E3CE;

}
.letter_Z{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -950px 0px;
    background-color: #F6E3CE;

}
.score_1{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative  ;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: 0px 0px;

}
.score_2{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: -34px;
    margin-left: -2px;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -38px 0px;

}
.score_3{

    display: block;
    width: 38px;
    height: 38px;
    position: relative;
    margin-top: -34px;
    margin-left: -2px;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -76px 0px;

}
.score_4{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -114px 0px;

}
.score_5{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -152px 0px;

}
.score_6{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -190px 0px;

}
.score_7{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -228px 0px;

}
.score_8{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -266px 0px;

}
.score_9{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -304px 0px;

}
.score_10{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -342px 0px;

}

#container{
    padding-left: 150px;
    padding-right: 150px;
}


#container .column{
    position: relative;
    float: left;
}

#center{
    width: 100%;
}

#left{
    width: 150px;
    right: 150px;
    margin-left: -100%;
}

#right{
    width: 150px;
    margin-right: -150px;
}
#footer{
    clear: both;
}
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#sign_log{
	text-align: left;
	margin-left: 37.5%;
}

#sign_log_title{
	margin-left: 12.5%;
}

#ranking{
	text-align: center;
}

.ranking_tabla{
	margin: 0 auto;
}
body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  
}

.field_with_errors {
  padding: 2px;
  background-color: #FFFF66;
  color: black;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: #2E2E2E;
<<<<<<< HEAD
  text-align: right;
  padding-right: 2px;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #2E2E2E;
=======
  margin-right: -200px;
>>>>>>> cssHtml
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#sign_log{
	text-align: left;
	margin-left: 37.5%;
}

#sign_log_title{
	margin-left: 12.5%;
}

.size{
	width: 252px;
}
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

