<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @state.user_id %>
</p>

<p>
  <b>Game:</b>
  <%= @state.game_id %>
</p>

<p>
  <b>User state:</b>
  <%= @state.user_state %>
</p>


<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
