<h1>Listing moves</h1>

<table>
  <tr>
    <th>Coordinate</th>
    <th>Player</th>
    <th>Letter</th>
    <th>Move number</th>
    <th>Game</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moves.each do |move| %>
  <tr>
    <td><%= move.coordinate %></td>
    <td><%= move.player_id %></td>
    <td><%= move.letter %></td>
    <td><%= move.move_number %></td>
    <td><%= move.game_id %></td>
    <td><%= link_to 'Show', move %></td>
    <td><%= link_to 'Edit', edit_move_path(move) %></td>
    <td><%= link_to 'Destroy', move, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Move', new_move_path %>
