<p id="notice"><%= notice %></p>

<p>
  <b>Coordinate:</b>
  <%= @move.coordinate %>
</p>

<p>
  <b>Player:</b>
  <%= @move.player_id %>
</p>

<p>
  <b>Letter:</b>
  <%= @move.letter %>
</p>

<p>
  <b>Move number:</b>
  <%= @move.move_number %>
</p>

<p>
  <b>Game:</b>
  <%= @move.game_id %>
</p>


<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
