                  <%board = @game.build_board %>
<div id="boardContainer" data-id="<%= @game.id %>" data-updated-at="<%= @game.updated_at.to_i%>">
  <% for i in 0..14 %>
      <div class="boardRow">
        <% for j in 0..14 %>
            <% special_cell = get_cell_class(i,j) %>
            <% if(board[i][j][0]) %>
                <div id="cell_<%=i%>_<%=j%>" class ="boardCell  ui-widget-content <%= special_cell%>" posx="<%=i %>" posy="<%=j %>">
                    <div id="fixed_tile_<%= i %>_<%= j %>" class ="fixed_tile ui-widget-content">
                      <span class="letter_<%=board[i][j][0]%>"></span>
                      <span class="score_<%=points_for_letter(board[i][j][0]) %>"></span>
                    </div>
                </div>
            <% else %>
                <div id="cell_<%=i%>_<%=j%>" class ="boardCell droppable ui-widget-content <%= special_cell%>" posx="<%=i %>" posy="<%=j %>">
                </div>
            <% end %>





        <% end %>
      </div>
  <% end %>
</div>