<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <% players_array = []%>
    <% players_array = Player.where("id != ?", @player).map {|p|  [p.name,p.mail]}%>
    <% players_array.unshift(['',''])%>
    <p>Invita al menos a 1 jugador</p>
    <div class="field">
      Email jugador 1:<%= select_tag(:user1, options_for_select(players_array))%>
    </div>
    <div class="field">
      Email jugador 2:<%= select_tag(:user2, options_for_select(players_array))%>
    </div>
    <div class="field">

      Email jugador 3:<%= select_tag(:user3, options_for_select(players_array))%>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
