<div id="caseContainer">
  <% for j in 1..7 %>
      <div id="case<%= j %>" class="case droppable ui.widget-content">
        <div id="tile<%= j %>" class ="tile <%= 'draggable' if true%> ui-widget-content">
          <% letter = get_letter_from_number(@player_state.get_state_letter(j).to_i) %>
          <span class="letter_<%=letter%>"></span>
          <span class="score_<%=points_for_letter(letter) %>"></span>
        </div>
      </div>
  <% end %>
</div>
