<%  content_for(:head) { javascript_include_tag 'games'  } %>

<div id= "container">

    <div id = "center" class = "column">

        <%= render 'board' %>

        <%= form_tag game_path(@game), :method=>'put' ,remote:true,  id: 'play_form' do%>
            <% for i in 1..7 %>
                <%=hidden_field_tag "tile_#{i}", '',{ :class=> "tile-input" } %>
                <%=hidden_field_tag "tile_#{i}_x" , '',{ :class=> "tile-input" } %>
                <%=hidden_field_tag "tile_#{i}_y", '',{ :class=> "tile-input" }  %>
            <% end %>
            <%= submit_tag 'Play' , :onclick => "setHiddenMoveForm()",class:'btn', id:"buttonplay" %>
        <% end %>

      <%= form_tag end_game_path(@game), method:'put' do %>
          <% submit_tag 'Surrender' ,class:'btn btn-danger',id:'buttonsurrender'%>
          <% end %>
        <p>
         <%= render 'player_tiles' %>
        </p>
        	<!--  -->
    </div>

    <div id = "left" class = "column">
        <p> </p>
    </div>  

    <div id = "right" class = "column">
        <p>
            <b>Language: English <%= @game.language_id %></b>
        </p>
        <p>
            <b>Current turn: <span id="currentTurn"><%= @next_turn%></span></b>   
        </p>
        <hr>    
        <%@game_status.each do |g| %>
            <p> 
                <b>Jugador: <%= g[0] %></b>
            </p>   
            <p>
                <b>Turn number: </b>
                    <b id="player_turn_<%=g[3] %>">
                <%if g[1] == @next_turn %>
                     YOUR TURN
                <% else %>                  
                    <%= g[1] %>
                <%end %>
                    </b>
            </p>
            <p>
                <b>Score: <span id="score_<%= g[3] %>"><%= g[2] %></span> </b>
            </p>
            <hr>
        <% end %>
    </div>          
</div>

<div id = "footer">    
    <%= link_to 'Edit', edit_game_path(@game) %> |
    <%= link_to 'Back', player_path(current_player) %>
</div>

