<% data= []%>
<% @states.each do |s|  %>
<% if @game.next_turn == s.turn%>
<% turn = "YOUR TURN"%>
<% else turn = s.turn%>
<% end %>

<% data << [s.player_id,s.score,turn] %>
<%end %>

updateTable(<%= @game.build_board_for_ajax.to_json.html_safe %>);
updatePlayerTiles(<%= @player_state.get_state_letters.to_json.html_safe%>) ;
updateInfo(<%= data.to_json.html_safe%>,<%=@game.next_turn %>);
updateBoard(<%=@game.updated_at.to_i  %>);