     <% if @player.states.where(game_id: game).first.player_state == 'active'%>
<li>
<%=  link_to "Play", game_path(game)%>
    <span>Against:
        <% game.players.each do |p| %>
            <%= p.name if @player != p%>
        <%end%>
    </span>
</li>
             <% end%>