<div id="sign_log">

  <h1 id="sign_log_title">Sign Up</h1>

  <%= form_for @player do |f| %>
    <% if @player.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @player.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :mail %><br />
      <%= f.email_field :mail %>
    </p>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>

    <p class="button"><%= f.submit %></p>
  <% end %>

</div>

