<div id = "ranking">

<h1>Ranking</h1>

<table class= "ranking_tabla">
  <tr>
    <th>Name</th>
    <th>Mail</th>
    <th>Score</th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.name %></td>
    <td><%= player.mail %></td>
    <td><%= player.max_score %></td>
  </tr>
<% end %>
</table>

</div>