
<p>
  <b>Mail:</b>
  <%= @player.mail %>
</p>
      <ol>
<%=	 render :partial => 'game', collection: @player.games, :as => :game %>
      </ol>
<p><%= link_to 'New game', new_game_path %></p>
<%= link_to 'Edit Profile', edit_player_path(@player) %> |
<%= link_to "Delete user", player_path, :method => :delete %>
