/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#all{
	border-radius: 15px; 
	border: 1px solid;
	border-color: #B8B8B8;
	width: 80%;
	min-width: 925px;
	margin: 0 auto;

	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}
#player_nav{
	
	background: white;
	border-bottom: 1px solid;
	border-bottom-color: #C8C8C8;
	padding: 10px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

#player_nav img{

		float: left;
	}

#status{

	/*width: 200px;*/
	padding-left: 80.5%;
}

#noticeBig{
	background: white;
	position-relative;
}

#notice{
	color: #2E2E2E;
	/*width: 200px;*/
	padding-left: 80%;
}

#yield{
	min-height: 300px;
	color: white;
	background: #A00000;
	padding: 20px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}