/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#buttonplay{
    float: left;
    margin-top: 19px;
}
#buttonsurrender{
    float:left;
}
#boardContainer{

	width:525px;
	height: 525px;
	background-color: white;
	margin: 0 auto;
}
.boardRow{
	padding-top: 0px;
	display:block;
	width: 525px;
	height: 35px;
}
#caseContainer{
	padding-left: 31.25%;
	height: 30px;
}
.case{
	float: left;
	width: 33px;
    height: 33px;
	border-color: #B8B8B8;
	border-width: 1px;
	border-style: solid;
	background-color: #E0E0E0;
}
.boardCell{

	float: left;
	width: 33px;
	height: 33px;
	border-color: #D8D8D8;
	border-width: 1px;
	border-style: solid;
}

.triple_word{
	background-image: url('board.png');
	background-position: -148px center;	
}

.double_word{
	background-image: url('board.png');
	background-position: -37px center;	
}

.double_letter{
	background-image: url('board.png');
	background-position: -111px center;	
}

.triple_letter{
	background-image: url('board.png');
	background-position: -74px center;	
}

.center_cell{
	background-image: url('board.png');
	background-position: -185px center;	
}

.normal_cell{
	background-image: url('board.png');
}

.tile {

	width : 25px;
	height: 25px;
}

 .letter_A{

	display: block;
	width: 33px;
	height: 33px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	background-repeat: no-repeat;
	background-image: url("/assets/tileGreyLetters02.png");
	background-position: 0px 0px;
	background-color: #F6E3CE;

}
 .letter_B{

	display: block;
	width: 33px;
	height: 33px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	background-repeat: no-repeat;
	background-image: url("/assets/tileGreyLetters02.png");
	background-position: -38px 0px;
	background-color: #F6E3CE;

}
.letter_C{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -76px 0px;
    background-color: #F6E3CE;

}
.letter_D{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -114px 0px;
    background-color: #F6E3CE;

}
.letter_E{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -152px 0px;
    background-color: #F6E3CE;

}
.letter_F{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -190px 0px;
    background-color: #F6E3CE;

}
.letter_G{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -228px 0px;
    background-color: #F6E3CE;

}
.letter_H{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -266px 0px;
    background-color: #F6E3CE;

}
.letter_I{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -304px 0px;
    background-color: #F6E3CE;

}
.letter_J{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -342px 0px;
    background-color: #F6E3CE;

}
.letter_K{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -380px 0px;
    background-color: #F6E3CE;

}
.letter_L{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -418px 0px;
    background-color: #F6E3CE;

}
.letter_M{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -456px 0px;
    background-color: #F6E3CE;

}
.letter_N{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -494px 0px;
    background-color: #F6E3CE;

}
.letter_O{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -532px 0px;
    background-color: #F6E3CE;

}
.letter_P{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -570px 0px;
    background-color: #F6E3CE;

}
.letter_Q{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -608px 0px;
    background-color: #F6E3CE;

}
.letter_R{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -646px 0px;
    background-color: #F6E3CE;

}
.letter_S{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -684px 0px;
    background-color: #F6E3CE;

}
.letter_T{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -722px 0px;
    background-color: #F6E3CE;

}
.letter_U{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -760px 0px;
    background-color: #F6E3CE;

}
.letter_V{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -798px 0px;
    background-color: #F6E3CE;

}
.letter_W{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -836px 0px;
    background-color: #F6E3CE;

}
.letter_X{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -874px 0px;
    background-color: #F6E3CE;

}
.letter_Y{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -912px 0px;
    background-color: #F6E3CE;

}
.letter_Z{

    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileGreyLetters02.png");
    background-position: -950px 0px;
    background-color: #F6E3CE;

}
.score_1{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative  ;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: 0px 0px;

}
.score_2{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: -34px;
    margin-left: -2px;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -38px 0px;

}
.score_3{

    display: block;
    width: 38px;
    height: 38px;
    position: relative;
    margin-top: -34px;
    margin-left: -2px;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -76px 0px;

}
.score_4{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -114px 0px;

}
.score_5{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -152px 0px;

}
.score_6{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -190px 0px;

}
.score_7{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -228px 0px;

}
.score_8{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -266px 0px;

}
.score_9{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -304px 0px;

}
.score_10{

    display: block;
    width: 38px;
    height: 38px;
    margin-top: -34px;
    margin-left: -2px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/tileNumbers02.png");
    background-position: -342px 0px;

}

#container{
    padding-left: 150px;
    padding-right: 150px;
}


#container .column{
    position: relative;
    float: left;
}

#center{
    width: 100%;
}

#left{
    width: 150px;
    right: 150px;
    margin-left: -100%;
}

#right{
    width: 150px;
    margin-right: -150px;
}
#footer{
    clear: both;
}
