/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#sign_log{
	text-align: left;
	margin-left: 37.5%;
}

#sign_log_title{
	margin-left: 12.5%;
}

.size{
	width: 252px;
}